:host {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.sidenav-container {
  flex: 1;
  --mat-sidenav-container-divider-color: transparent;
}

mat-sidenav {
  width: 220px;
}

.sidenav-container .mat-drawer,
.sidenav-container .mat-drawer-inner-container {
  border: none !important;
  box-shadow: none !important;
}

.content {
  padding: 1.5rem;
}
